.autocomplete-dropdown {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    background: #1D1D1F;
    border-radius: 12px;
    padding: 2px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
    z-index: 20;
}
  
.autocomplete-item {
    padding: 10px 16px;
    cursor: pointer;
}
  
.autocomplete-item:hover {
    background: rgba(255, 255, 255, 0.08);
}
  
.city-name {
    color: white;
    margin: 0;
    font-size: 16px;
}