.searchbar-wrapper {
    margin: auto;
    width: 100%;
    position: relative;
}

.searchbar {
    height: 50px;
    background: #1D1D1F;
    border-radius: 16px;
    display: flex;
    align-items: center;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    padding: 0 16px;
    max-width: 966px;
}
  
.search-icon {
    font-size: 24px;
    color: #b4b9c3;
    margin-right: 10px;
}
  
.search-input {
    flex: 1;
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
}
  
.search-input::placeholder {
    color: #8A8A8E;
}
  
.gps-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px;
    border-radius: 50%;
}
  
.gps-icon {
    font-size: 24px;
    color: #2b8cee;
}
  
  