.hourly-list {
    max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
}

.hour-item {
    margin: 12px 10px 0 0px;
    width: 70px;
    flex: 0 0 70px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #374151;
    border-radius: 16px;
    padding: 12px;
    background-color: #101922;
    text-align: center;
    overflow: hidden;
}
  
.hour-item:hover {
    border: 1px solid #2b8cee;
    background-color: #2b8cee4d;
}

.active-hour {
    border: 1px solid #2b8cee
}

.hour-label {
    font-size: 16px;
    color: #d1d5db;
    margin: 4px;
}
  
.hour-icon {
    text-align: center;
    font-size: 30px;
    color: #2b8cee;
}

.precipitation-probability {
    font-size: 12px;
    color: #acd3f9;
    margin: 0;
}
  
.hour-temp {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
    margin-top: 15px;
    color: white;
}