.days-section {
    margin: auto;
}

.days-box {
    border: 1px solid #374151;
    border-radius: 16px;
    padding: 16px;
    max-width: 966px;
    margin: auto;
    color: white;
}
  
.days-title {
    font-size: 16px;
    font-weight: 500;
    color: #9ca3af;
    margin-bottom: 8px;
    margin: 0;
}
  
.days-list {
    display: flex;
    flex-direction: column;
}
  
.days-item {
    display: grid;
    grid-template-columns: 1fr 65px 40px 40px;
    align-items: center;
    position: relative;
}

.days-item:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #374151;
    opacity: 0.7;
}
  
.days-label {
    font-size: 18px;
    font-weight: 500;
    color: #d1d5db;
}
  
.days-icon {
    font-size: 26px;
    color: #2b8cee;
}

.hidden-prob {
    visibility: hidden;
}

.day-precipitation-probability {
    font-family: Inter;
    font-size: 12px;
    color: #acd3f9;
    margin-top: 2px;
}
  
.max-temp {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.min-temp {
    font-size: 16px;
    opacity: 0.7;
    text-align: center;
}